.main{
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 0px 0px;
}
#ad{
    width:100%;
    text-align:center;
}
#head{
    width:100%;
}
.headTable{
    width:100%;
}
.headTable td{
    padding:10px 50px 25px 135px;/* 上右下左*/
}

#foot {
    width: 100%;
    clear: both;
    background-color: #EFEEDC;
    margin-top: 15px;
}